<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test_ff">
  <parameter name="browser" value="firefox">
  </parameter>
  <classes>
  <class name="Parallel"/>
  </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test_c">
  <parameter name="browser" value="chrome">
  </parameter>
  <classes>
  <class name="Parallel"/>
  </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test_ie">
  <parameter name="browser" value="ie">
  </parameter>
  <classes>
  <class name="Parallel"/>
  </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
